body{
    font-family: "Open Sans", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 8px;
    display: block;
    margin: 8px 8px 8px 8px;
}

a{
    color: #0EB2ED;
}

a:hover, a:focus{
    color: #0E89ED;
}

#banner{
    width: 475px;
    margin-bottom: 5px;
}

#header_text{
    font-size: 20px;
    letter-spacing: 1px;
    margin: 0px 0px 0px 44px;
}

#contents{
    display: block;
    background-color: #FCFCFC;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 50px;
    padding-top: 20px;
    padding-bottom: 60px;
    padding-left: 30px;
    padding-right: 30px;
    border: solid #DDFCFC;
    border-radius: 4px;
}

#instructions{
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 25px;
    margin-bottom: 25px;
}

#psf_form{
    display: table;
    position: relative;
    width: 425px;
    margin: 0 auto;
    padding: 20px 45px 60px 45px;
    background-color: #F5F2F2;
    border: solid #BAD4D4;
    border-radius: 4px;
    font-size: 14px;
}

#survey_info{
    display: block;
}

#site_info{
    display: none;
}

#summary{
    display: none;
}

button, input[type="submit"]{
    position: absolute;
    color: #FFFFFF;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 4px;
    padding-bottom: 4px;
    border: 0px;
    border-radius: 4px;
    cursor: pointer; 
}

.next{
    bottom: 20px;
    right: 30px;
    background: #3AAAF5;
}

.next:hover{
    background: #3498DB;
}

.previous{
    bottom: 20px;
    left: 30px;
    background: #F5753F;
}

.previous:hover{
    background: #DB6938;
}

#submit{
    bottom: 20px;
    right: 30px;
    background: #62DF69;
}

#submit:hover{
    background: #59CC6D;
}

#submitting{
    height: 24px;
    color: #FFFFFF;
    position: absolute;
    bottom: 20px;
    right: 30px;
    background: #59CC6D;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 3px;
    border: 0px;
}

.animated { 
    -webkit-animation-duration: 2.5s; 
    animation-duration: 2.5s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
    -webkit-animation-timing-function: ease-in-out; 
    animation-timing-function: ease-in-out; 
    animation-iteration-count:infinite; 
    -webkit-animation-iteration-count:infinite; 
} 

@-webkit-keyframes flash { 
    0%, 50%, 100% {opacity: 1;} 
    25%, 75% {opacity: 0;} 
} 

@keyframes flash { 
    0%, 50%, 100% {opacity: 1;} 
    25%, 75% {opacity: 0;} 
} 

.flash { 
    -webkit-animation-name: flash; 
    animation-name: flash; 
}

.clear{
    display: inline-block;
    color: #E02B03;
    cursor: pointer;
}